.all{
    background-color: rgb(242, 249, 246);
    width: 100%;
    padding: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.image{
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content:left;
    transition: transform 0.3s;
}

.image:hover{
    transform: scale(1.03);
}

.info{
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:right;
    font-family: 'Yuji Syuku', serif;
    text-align: left;
}

.info button{
    padding: 6px 10px;
    height: 35px;
    width: 100%;
    background-color: #d4d2d0;
    &:hover{
        color:darkslategray;
        background-color: azure;
        box-shadow: 0 5px 5px rgb(171, 142, 111);
    }
}

.text{
    text-align: left;
}

.descrip{
    font-family: 'Yuji Syuku', serif;
    padding: 10px;
    margin-top: 10px;
}

.descrip button{
    padding: 6px 10px;
    height: 35px;
    width: 25%;
    background-color: #d4d2d0;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    &:hover{
        color:darkslategray;
        background-color: azure;
        box-shadow: 0 5px 5px rgb(171, 142, 111);
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    margin-top: 15px;
}

.form input{
    width: 30%;
    height: 30px;
    border: none;
    padding: 0 10px 2px 10px;
    border-radius: 2px;
    background-color: #faedde;
    color: #583000;
    font-size: 16px;
    font-family: 'Yuji Syuku', serif;
    transition: background-color 0.3s;
}

.form input:focus{
    outline: none;
    background-color: #f0d1b5;
}

.form input::placeholder{
    color: #583000a0;
}

.form button{
    padding: 6px 10px;
    height: 35px;
    width: 15%;
    background-color: #d4d2d0;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    &:hover{
        color:darkslategray;
        background-color: azure;
        box-shadow: 0 5px 5px rgb(171, 142, 111);
    }
}

.form textarea{
    width: 50%;
    height: 90px;
    border: none;
    padding: 0 10px 2px 10px;
    border-radius: 2px;
    background-color: #faedde;
    color: #583000;
    font-size: 16px;
    font-family: 'Yuji Syuku', serif;
    transition: background-color 0.3s;
}

.form textarea:focus{
    outline: none;
    background-color: #f0d1b5;
}

.form textarea::placeholder{
    color: #583000a0;
}

.star-rating {
    font-size: 24px;
  }
  
  .star-rating span {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .star-rating span.filled {
    color: gold; /* Color for filled stars */
  }
  
  .star-rating span.empty {
    color: #ccc; /* Color for empty stars */
  }