.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    gap: 2.5vh;
}

.cardContainerRow{
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 100%;
    gap: 20px;
    overflow: scroll;
}

.cardContainerRow::-webkit-scrollbar{
    display: none;
}