.profile-page {
  display: flex;
  justify-content: center;
  margin: 120px 0 100px 0;
  width: 100%;
}

.profileContainer{
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.foto-rating-div{
  width: 30%;
}

.foto-rating-div img{
  width: 80%;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.profileInfoDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.profileInfoDiv h1{
  margin: 0;
}

.profileInfoDiv h3{
  margin: 10px 0 0 0;
}

.profileInfo hr{
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  margin: 15px 0 40px 0;
}

.profileInfoDiv button{
  background-color: #faedde;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 5px 0;
  font-family: 'Yuji Syuku', serif;
  width: 30%;
  height: 25px;
  border-radius: 2px;
  cursor: pointer;
}

.profileInfoDiv button:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px #00000082;
}

.showSoldOut{
  width: 90%;
  margin-top: 40px;
  background-color: #faedde;
  animation: soldOut .5s forwards;
}

@keyframes soldOut {
  0%{
    height: 0;
  }
  100%{
    height: 200px;
  }
}

.hideSoldOut{
  width: 90%;
  margin-top: 40px;
  background-color: #faedde;
  animation: hideSoldOut .5s forwards;
}

@keyframes hideSoldOut {
  0%{
    height: 200px;
  }
  80%{
    opacity: 0;
  }
  100%{
    margin-top: 0;
    height: 0;
    opacity: 0;
    display: none;
  }
}

.lastCreation{
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: start;
  margin-top: 40px;
}


  .artist-photo {
    border-radius: 50%;
  }

  .artist-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    gap: 400px;
    border-bottom: 1px solid black;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .artist-name {
    font-size: 24px;
  }

  .artist-location {
    font-size: 20px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .CreateButton {
    padding: 6px 10px;
    height: 35px;
    width: 15%;
    background-color: #d4d2d0;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    &:hover{
        color:darkslategray;
        background-color: azure;
        box-shadow: 0 5px 5px rgb(171, 142, 111);
    }
  }
  
  .CreateButton:hover {
    transform: scale(1.03);
    border: 1px solid gray;
    outline: none;
  }

  .SaleButton {
    padding: 6px 10px;
    height: 35px;
    width: 15%;
    background-color: #d4d2d0;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    &:hover{
        color:darkslategray;
        background-color: azure;
        box-shadow: 0 5px 5px rgb(171, 142, 111);
    }
  }

  .SaleButton:hover {
    transform: scale(1.03);
    border: 1px solid gray;
    outline: none;
  }

  .stars-ranking {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .stars-ranking span {
    font-size: 30px;
    color: #2e2727;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .stars-ranking span.filled {
    color: gold;
    animation: shine 1s linear forwards, scale 0.5s;
  }
  
  
  

  
 
 

  .p-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }
 
 





