.detailPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 120px 0 10vh 0;
}

.postContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 50px 0;
    max-height: 75vh;
    width: 80%;
}

.postImage{
    max-width: 45%;
    max-height: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content:left;
    transition: transform 0.3s;
}

.postImage:hover{
    transform: scale(1.03);
}

.info{
    width: 30%;
    height: 70vh;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Yuji Syuku', serif;
    color: #faedde;
}

.info h1{
    margin: 0;
}

.imgFav{
    position: absolute;
    right: 5%;
    top: 0;
    border-radius: 50px;
}

.imgFav img{
    width: 50px;
    cursor: pointer;
}

.imgFav span{
    display: none;
}

.imgFav:hover span{
    display: flex;
    position: absolute;
    width: 200px;
    top: -25px;
    left: calc(50% - 100px);
    justify-content: center;
}

.buyPostButton{
    background-color: #faedde;
    color: black;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1% 0;
    font-family: 'Yuji Syuku', serif;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
}

.buyPostButton:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #00000082;
}

.descriptionDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    background-color: #0000003e;
    padding: 4% 5%;
    gap: 20px;
}

.descriptionDiv div{
    text-align: start;
}

.descriptionDiv hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #000000;
}

.descriptionDiv h2{
    margin: 0;
    font-size: 35px;
    color: #faedde;
    font-family: 'Yuji Syuku', serif;
}

.descriptionDiv h4{
    margin: 0;
    font-size: 20px;
    color: #faedde;
    font-family: 'Yuji Syuku', serif;
}

.descriptionDiv button{
    color: #faedde;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1% 0;
    font-family: 'Yuji Syuku', serif;
    width: 50%;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
}