.container{
    display: flex;
    background-image: url("https://www.semana.com/resizer/QWRE34znDLIFICECMgErb-BSjD0=/1280x720/smart/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/semana/6U5L6VOYBVFW3JIBAPNUG43GBY.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index:1001;
    font-family: 'Yuji Syuku', serif;
}

.container h1{
    background-color: #faedde;
    padding: 5px 20px 10px 20px;
    border-radius: 5px;
}