.cardComponent{
  display: flex;
  height: 100%;
  width: auto;
  position: relative;
  cursor: pointer;
}

.cardComponent img{
  height: 100%;
  width: auto;
}

.cardInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0;
  height: 100%;
  background-color: #000000d2;
  position: absolute;
  color: #ffffff;
}

.infoDiv{
  width: 100%;
  opacity: 0;
}

.infoDiv div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.infoDiv img{
  height: 20px;
}

.cardComponent:hover .infoDiv{
  animation: showInfo .5s forwards;
}

@keyframes showInfo {
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.cardComponent:hover .cardInfo{
  animation: showBackground .5s forwards;
}

@keyframes showBackground {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.cardInfo h4{
  margin: 0;
}

.cardInfo button{
  color: #ffffff;
  background:linear-gradient(#5c3014cc, #000000ab);
  border: none;
  width: 50%;
  font-size: 20px;
  padding: 0 0 5px 0;
  font-family: 'Yuji Syuku', serif;
}

.cardInfo button:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 5px #ffffff;
  transition: .2s;
  background:linear-gradient(#5c3014, #000000)
}

.imgFav{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
  z-index: 900;
}

.imgFav img{
  width: 50px;
  cursor: pointer;
}

.imgFav span{
  display: none;

}

.imgFav:hover span{
  display: flex;
  position: absolute;
  width: 200px;
  top: -25px;
  left: calc(50% - 100px);
  justify-content: center;
}