.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 50px 0;
    color: #faedde;
    min-height: 100vh;
    font-family: 'Yuji Syuku', serif;
}

.container h1{
    margin: 0 0 20px 0;
}

.itemsContainer{
    display: flex;
    margin: 30px 0 0 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.favouriteComponent{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #00000065;
    position: relative;
}

.imageArtist{
    display: flex;
    width: 90%;
    height: auto;
    position: relative;
}

.imageArtist img{
    width: 100%;
    height: auto;
}

.artistDiv{
    color: #faedde;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #00000065;
}

.artistDiv:hover{
    text-decoration:1px underline ;
}

.artistDiv h3{
    margin: 5px 0 0 0;
}

.imgDiv{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.imgDiv img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.favInfo{
    width: 90%;
}

.favInfo h3{
    margin: 15px 0 0 0;
}

.typeTechnique{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
    align-items: center;
    margin: 0;
}

.typeTechnique h5{
    margin: 0;
}

.moreInfo{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    padding: 0 10px;
    color: #000000;
    font-size: 25px;
    background-color: #faedde93;
}

.moreInfo:hover{
    background-color: #faeddec6;
}

.imgFav{
    position: absolute;
    width: 50px;
    height: 50px;
    left: -2%;
    top: -2%;
}

.imgFav span{
    display: none;
}
