.container{
    
    display: flex;
    flex-direction: row;
}

.button{
    padding: 1.1vh;
    height: 45px;
    width: 100%;
    background-color: #faedde;
    color: #583000;
    &:hover{
        color:darkslategray;
        background-color: azure;
        box-shadow: 0 5px 5px white;
    }
}

.container input{
    outline: none;
    border-radius: 12px;
    padding: 1.1vh;
    height: 100%;
    width: 30vh;
    border: none;
    background-color: rgb(233, 228, 253) ;
    color: rgba(47, 71, 90, 0.767);
    font-size: 2.0vh;
    text-align: left;
    margin-right: 20px;
}

.container input:hover{
    background-color: rgba(178, 195, 207, 0.767);
}
