.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.button{
    background-color: #faedde;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Yuji Syuku', serif;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.hideInput,
.searchInput{
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    gap: 5px;
    top: 75px;
}

.searchInput p{
    margin: 0;
    font-size: 20px;
    height: 25px;
    padding-bottom: 8px;
    position: absolute;
    right: 6px;
    cursor: pointer;
    animation: displayX .5s forwards;
}

@keyframes displayX {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.searchInput input{
    width: 600px;
    height: 30px;
    border: none;
    padding: 0 2.5% 1% 2.5%;
    border-radius: 2px;
    background-color: #faedde;
    color: #583000;
    font-size: 15px;
    font-family: 'Yuji Syuku', serif;
    animation: displayInput .5s forwards;
}

@keyframes displayInput {
    0%{
        height: 0;
    }
    100%{
        height: 30px;
    }
}

.hideInput input{
    animation: hideInput .5s forwards;
}

@keyframes hideInput {
    0%{
        height: 30px;
    }
    100%{
        height: 0;
    }
}

.container input:hover{
    background-color: rgba(178, 195, 207, 0.767);
}
