.artistsListComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 60.8vh;
    position: relative;
    background-color: #0e03037f;
    border-radius: 0.8rem;
}

.list::-webkit-scrollbar{
    width: 1px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #faedde;
}

.artistsListComponent h1{
    color: #faedde;
    margin-bottom: 1.4rem;
}

.list{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 20px;
}

.artistsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #000000e0;
}

.imgDiv{
    display: flex;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 40px;
    overflow: hidden;
}

.imgDiv img{
    height: 100%;
    object-fit: cover;
}

.artistsDiv h3{
    width: 50%;
    margin: 1.2rem;
    font-size: 20px;
    color: antiquewhite;
}

.artistsDiv:hover h3{
    text-decoration: 1px underline;
}

.artistsDiv:hover{
    background-color: #0000003f;
}