.registerPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow:none;
    position: fixed;
    background-color: #6D3718;
    z-index: 1000;
}

.registerComponent{
    font-family: 'Yuji Syuku', serif;
    background-color: #0000003a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 30%;
    height: 70%;
    padding: 30px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
}

.registerComponent::-webkit-scrollbar{
    width: 1px;
}

.registerComponent::-webkit-scrollbar-thumb {
    background-color: #faedde8c;
}

.registerComponent h1{
    margin: 0;
    font-size: 25px;
    color: #faedde;
}

.registerComponent span{
    position: absolute;
    color: red;
    font-size: 12px;
    right: 12.5%;
    top: -20px;
}

.registerInputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 15px;
    color: #faedde;
    position: relative;
}

.registerCheckbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 15px;
    color: #faedde;
}

.registerInputs input{
    width: 75%;
    height: 30px;
    border: none;
    padding: 0 2.5% 1% 2.5%;
    border-radius: 2px;
    background-color: #faedde;
    color: #583000;
    font-size: 15px;
    font-family: 'Yuji Syuku', serif;
}

.registerButton{
    background-color: #faedde;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1% 0;
    font-family: 'Yuji Syuku', serif;
    width: 50%;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    color: #000000;
}

.registerButton:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px #faedde90;
}

.fastRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 75%;
}

.fastRegister p{
    margin: 0 0 10px 0;
    color: #faedde;
}

.fastRegisterButton{
    background-color: #faedde;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 0 1% 0;
    font-family: 'Yuji Syuku', serif;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    color: #000000;
}

.fastRegisterButton:hover{
    cursor: pointer;
}

.fastRegisterButton:hover img{
    transform: translateX(10px);
    transition: .3s;
}

.fastRegisterButton img{
    width: 30px;
    position: absolute;
    left: 10px;
    top: calc(50% - 15px);
}

.quitRegisterButton{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    margin: 0; 
    border: none;
    z-index: 1;
}

.quitRegisterButton:hover{
    cursor: pointer;
    background-color: #0000004f;
}